* {
    box-sizing: border-box;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    margin: 0 20px;
    border: 1px solid #222;
}

img {
    float: left;
}

.contents1 {
    margin-top: 30px;
}

br {
    clear: left;
}

#box1 {
    background: #ffd800;
    float:left;
}

#box2 {
    background: #0094ff;
    margin-left: 40px;
    float:left;
}

#box3 {
    height: 50px;
    background: #00ff21;
}

#box4 {
    background: #a874ff;
    clear : left;
}

#box5 {
    display: inline-block;
    padding: 20px;
    margin: 0 20px;
    border: 1px solid #222;
}

#box6 {
    display: inline-block;
    padding: 20px;
    margin: 0 20px;
    border: 1px solid #222;
}